.container{
	margin: 0 20px;
	@media #{$iphone}{
		margin: 0;
	}
}
@for $i from 1 through 5 {
	.col#{$i}{
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;

		@include columns($i, 10);
		@media #{$iphone}{
			@include columns(1, 10);
		}
		@media #{$iphone-landscape}{
			@include columns(1, 10);
		}
	}
}
[class^=col],
[class*=col]{
	ul:first-child{
		margin-top: 0;
	}
}
.rule-dotted{
	@include column-rule(3px, #ccc, dotted);
	@include column-gap(40px);
}
.rule-solid{
	@include column-rule(3px, #ccc, solid);
	@include column-gap(40px);
}

//@for $i from 1 through 12{
//	.span#{$i}{
//		float: left;
//		width: (100% * $i)/12;
//		padding: 0 10px;
//		&:first-child{
//			margin-left: 0;
//		}
//	}
//}

[class*=span]{
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}
@for $i from 1 through 12 {
	.span#{$i}  {
		width: percentage(($i / 12)); 
		@media #{$iphone}{
			width: 100%;
		}
	}
	
}