//Colors
$main-color: #ff0000;

//Fonts
$main-font: "Arial", sans-serif;

$font-size: 14px;

//Responsive
$iphone: "only screen and (max-width : 320px)";
$iphone-landscape: "only screen and (min-width: 321px) and (max-width: 767px)";
$ipad: "only screen and (min-width : 768px) and (max-width : 1023px)";
$ipad-landscape: "only screen and (min-width : 1024px) and (max-width : 1199px)";
