//Colors
$main-color: #ff0000;
$text-color: #666666;

//Fonts
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

$main-font: "Arial", sans-serif;
$header-font: "Lato", sans-serif;
$subheader-font: "Lora", sans-serif;

$font-size: 14px;

//Responsive
$iphone: "only screen and (max-width : 320px)";
$iphone-landscape: "only screen and (min-width: 321px) and (max-width: 767px)";
$ipad: "only screen and (min-width : 768px) and (max-width : 1023px)";
$ipad-landscape: "only screen and (min-width : 1024px) and (max-width : 1199px)";
$retina: "only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx)"
