body{
	font-size: $font-size;
	font-family: $main-font;
	color: $text-color;
}
p{
	line-height: 1.5em;
}
h1{
	font-size: 4em;
	font-family: $header-font;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 100%;
	@media #{$iphone}{
		font-size: 2em;
	}
}
h2{
	font-size: 1.5em;
	font-family: $subheader-font;
	font-weight: 300;
	@media #{$iphone}{
		font-size: 1.2em;
	}
}
h3{
	font-size: 1.2em;
	font-family: $subheader-font;
	font-weight: 300;
}
h4{}
h5{}
h6{}
h1,h2,h3,h4,h5,h6, p{
	margin: 10px 0;
}
b,
strong{
	font-weight: bold;
}
hr{
	border: none;
	border-bottom: solid 1px #CCC;
}
a{
	color: $main-color;
}
.align-right{
	text-align: right;
}
.align-left{
	text-align: left;
}
.align-center{
	text-align: center;
}
.align-justify{
	text-align: justify;
}
.hyphen{
	-webkit-hyphens: auto;
	-moz--hyphens: auto;
	hyphens: auto;
}
.capitalize{
	font-size: 4em;
	float: left;
	vertical-align: middle;
	display: block;
	padding: 0.3em 0;
	margin-right: 0.2em;
	box-sizing: inherit;
	font-weight: bold;
}